<ng-container *ngIf="showInvite; then invitedShow; else invitedNotShow">
</ng-container>

<button (click)="changeShowStatus()">
  {{ showInvite ? "show Uninvited people" : "show Invited people" }}
</button>

<ng-template #invitedShow>
  <h1>Showing Invited People</h1>
  <table>
    <thead>
      <tr class="invited-header">
        <th>id</th>
        <th>name</th>
        <th>change invite</th>
      </tr>
    </thead>
    <tbody class="invited-body">
      <tr *ngFor="let guest of guests">
        <td *ngIf="guest.isInvited">{{ guest.id }}</td>
        <td *ngIf="guest.isInvited">{{ guest.name }}</td>
        <td *ngIf="guest.isInvited">
          <button
            class="dangerous-button"
            (click)="changeInvite(guest.id, guest.isInvited)"
          >
            cancel invitation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #invitedNotShow>
  <h1>Show Uninvited People</h1>
  <table>
    <thead>
      <tr class="not-invited-header">
        <th>id</th>
        <th>name</th>
        <th>change invite</th>
      </tr>
    </thead>
    <tbody class=".not-invited-body">
      <tr *ngFor="let guest of guests">
        <td *ngIf="!guest.isInvited">{{ guest.id }}</td>
        <td *ngIf="!guest.isInvited">{{ guest.name }}</td>
        <td *ngIf="!guest.isInvited">
          <button
            class="primary-button"
            (click)="changeInvite(guest.id, guest.isInvited)"
          >
            send invitation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
