<ng-container *ngIf="showInvite; then invitedShow; else invitedNotShow">
</ng-container>

<button (click)="changeShowStatus()">
  {{ showInvite ? "show Uninvited people" : "show Invited people" }}
</button>

<ng-template #invitedShow>
  <p>Show Invited People</p>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>change invite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of guests">
        <td *ngIf="guest.isInvited">{{ guest.id }}</td>
        <td *ngIf="guest.isInvited">{{ guest.name }}</td>
        <td *ngIf="guest.isInvited">
          <button (click)="changeInvite(guest.id, guest.isInvited)">
            cancel invitation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #invitedNotShow>
  <p>Show Invited People</p>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>change invite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of guests">
        <td *ngIf="!guest.isInvited">{{ guest.id }}</td>
        <td *ngIf="!guest.isInvited">{{ guest.name }}</td>
        <td *ngIf="!guest.isInvited">
          <button (click)="changeInvite(guest.id, guest.isInvited)">
            send invitation
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
